:root {
    /* COLOR & FONT VARIABLES */
    --font-header: 'Geist', sans-serif;
    --font-body: 'Geist', sans-serif;

    --color-accent: #f46720;
    --color-light: #f2f2f2;
    --color-dark: #101314;
    --color-gray-90: #e4e4e4;
    --color-gray-80: #c8c8c8;
    --color-gray-70: #ababab;

    --color-white: #ffffff;
    --color-black: #000000;

    /* LAYOUT VARIABLES */
    --max-column-width: 1280px;
    --border-radius-m: 8px;
    --border-radius-s: 4px;
    
    /* TYPOGRAPHY */
    font-family: var(--font-body);
    color: var(--color-dark);
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--color-dark);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* STANDARD ELEMENTS */

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-content{
    will-change: transform;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: var(--font-header);
    font-weight: 700;
    line-height: 1;
    margin-block: 0px;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.8em;
}

p, a, li, ul, ol {
    font-family: var(--font-header);
    font-size: 1.3em;
    font-weight: 500;
    margin-block: 10px;
}

.thin {
    font-weight: 300;
}

.italics {
    font-style: italic;
}

button,
.button {
  font-family: var(--font-header);
  background-color: var(--color-light);
  color: var(--color-dark);
  border: none;
  border-radius: 50px;
  padding: 0.75em 1.5em;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
}

.color-text-accent {
    color: var(--color-accent);
}

.color-text-light {
    color: var(--color-light);
}

.color-text-gray-90 {
    color: var(--color-gray-90);
}

.color-text-gray-80 {
    color: var(--color-gray-80);
}

.color-text-gray-70 {
    color: var(--color-gray-70);
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* max-width: var(--max-column-width); */
        /* box-sizing: border-box; */
        padding-inline: 4em;
        padding-block: 0.5em;
        gap: 2em;
        margin: 0 auto;
    }

    .left-nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;

        h1, #logo-title {
            font-size: 1.4em;
            color: var(--color-light);
            font-weight: 700;
        }
    }

    .right-nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;

        a {
            text-decoration: none;
            border-bottom: transparent 2px solid;
            color: var(--color-light);
            font-size: 1em;
            font-weight: 700;
            padding-block: 8px;
            transition: color 0.2s, border 0.2s;

            &:active {
                color: var(--color-accent);
            }
            &:hover {
                border-bottom: var(--color-accent) 2px solid;
            }
        }
    }
}

/* HERO SECTION */

.hero-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--color-dark);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-title-container {
        position: relative;
        top: 40%;
        text-align: center;
        margin: 0;
        padding: 0;
        transform: translateY(-50%);
    }

    #hero-subtitle {
        color: var(--color-light);
        font-weight: 500;
        line-height: 1;
        font-size: 1.3em;
        letter-spacing: 75%;
        word-spacing: 0px;
    }

    #hero-title {
        color: var(--color-light);
        font-weight: 700;
        line-height: 1;
        font-size: 8em;
        letter-spacing: 10%;
        
        span {
            font-weight: 400;
            color: var(--color-accent);
        }
    }
}


/* TRIGGER SECTION */

.trigger-section {
    width: 100%;
    position: relative;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .trigger-container {
        width: 100%;
        max-width: var(--max-column-width);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4em;
        padding: 4em 3em;

        &.reverse {
            flex-direction: row-reverse;
        }
        &.column {
            flex-direction: column;
            align-items: center;
            gap: 2em;

            .trigger-title, .trigger-body {
                width: 100%;
            }
        }
    }

    .trigger-title {
        text-align: left;
    }
    
    .trigger-body {
        width: 100%;
        max-width: 640px;
    }

    .seperartor {
        height: 1px;
        width: 100%;
        background-color: var(--color-gray-70);
        margin: 0.5em;
    }
}

.flexbox-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
}

/* PARALLAX HOLD */

.hold-section {
    height: 3800px;
    width: 100%;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;

    .hold-sticky {
        height: 100vh;
        width: 100%;
        padding-block: 10em 16em;
        overflow: hidden;
        box-sizing: border-box;
        position: sticky;
        top: 0;
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hold-container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 2em;
    }

    .scrolling-quote {
        position: absolute;
        width: 100%;
        height: 100px;
        top: 300px;
        h2 {
            color: var(--color-light);
        }
    }
}




.test-section {
    height: 100vh;
    background-color: var(--color-gray-70);
}